@{
    ViewBag.Title = "Informacje";
}
<h2 class="infoTitle">@ViewBag.Title</h2>
<div class="infoWrapper">
    <div class="infoContainer">
        <h1>20 lat na polskim rynku</h1>
        <p>Firma samochodów Car Net Sp. z o.o. buduje w Polsce jedną z największych sieci wypożyczalni samochodów. Obecnie wynająć auto można w 3 miastach: Kraków, Warszawa i Poznań.</p>
    </div>
    <div class="infoContainer">
        <h1>Najwyższa jakość</h1>
        <p>Wypożyczalnia samochodów BestCARS Polska cechuje się wysoką jakością oferowanych samochodów. Wszystkie nasze pojazdy są nowe: najstarszy model ma 2 lata. Ze szczególną starannością dbamy o sprawność techniczną pojazdów, dlatego stale przeprowadzamy przeglądy techniczne w autoryzowanych serwisach.</p>
    </div>
    <div class="infoContainer">
        <div class="ImageAbout"></div>
    </div>
    <div class="infoContainer">
        <h1>Dlaczego my?</h1>
        <ul>
            <li>Posiadamy nowe samochody</li>
            <li>Zapewniamy atrakcyjne ceny</li>
            <li>Nasze samochody są bezpieczne</li>
            <li>Jesteśmy dostępni w największych miastach Polski</li>
        </ul>
        <h1>Ponad 50 samochodów w ofercie</h1>
        <p>
            BestCARS Polska w swojej ofercie posiada ponad 40 nowych samochodów osobowych oraz ponad 10 samochodów dostawczych. Flota samochodów jest serwisowana u autoryzowanych dealerów. Posiadamy marki premium takie jak: BMW, Mercedes, a także bardzo duży wybór samochodów osobowych takich jak Mazda, Seat, Ford, Peugeot, Suzuki, Toyota, Volkswagen, Kia, Renault, Nissan.

            Nasza flota zaopatrzona jest również w samochody specjalistyczne typy Plandeka, Kontener oraz Vany 6,7,9-osobowe.
        </p>
    </div>
    <div class="infoContainer">
        <h1>Profesjonalna obsługa</h1>
        <p>
            Dla pracowników firmy BestCARS Polska najważniejszy jest Klient, dlatego też stale wychodzimy naprzeciw oczekiwaniom naszych Klientów. Wszystko to z myślą o owocnej i długoletniej współpracy. Mamy na uwadze aktualne trendy i potrzeby. Stajemy na wysokości zadania i oferujemy najnowsze modele samochodów dające użytkownikom gwarancję bezpieczeństwa i komfortu jazdy.

            Aby zapewnić jak najlepszą obsługę, zatrudniamy ponad 20 specjalistów, którzy zapewniają naszym Klientom profesjonalizm i wyjście nawet z nieoczekiwanych sytuacji. Ogólnopolska infolinia czynna 7 dni w tygodniu umożliwia Klientom stały kontakt z pracownikami firmy. Jesteśmy elastyczni zarówno pod względem zróżnicowanej floty jak i warunków wynajmów.
        </p>
    </div>
    <div class="infoContainer">
        <div class="ImageAbout"></div>
    </div>
</div>

