@{
    ViewBag.Title = "Kontakt";
}
<h2 class="contactTitle">@ViewBag.Title</h2>

<div class="contactWrapper">
    <div class="contactContainer">
        <h1>Centrala</h1>
        <ul>
            <li>Dane firmy</li>
            <li>BestCARS Polska Sp. z o.o.</li>
            <li>62-800 Kraków,</li>
            <li>ul. Podmiejska 4</li>
        </ul>
        <ul>
            <li>NIP: 6182234091, REGON: 301723627, KRS: 0000285782</li>
            <li>Sąd Rejonowy Kraków</li>
            <li>IX Wydział Gospodarczy Krajowego Rejestru Sądowego z dnia 3 maja 2011r.</li>
            <li>Kapitał zakładowy: 500 000 PLN opłacony w całości.</li>
        </ul>
        <ul>
            <li>Adres do korespondencji</li>
            <li>ul. Podmiejska 4, 62-800 Kraków</li>
            <li>e-mail: kontakt@bestcars.pl</li>
        </ul>
    </div>
    <div class="contactContainer">
        <ul>
            <li>Dział Obsługi Klienta</li>
            <li>telefon: 22 226 83 00, +48 601 801 803</li>
            <li>e-mail: kontakt@bestcars.pl</li>
        </ul>
        <ul>
            <li>Rezerwacje długoterminowe</li>
            <li>telefon: +48 502 114 301</li>
            <li>e-mail: oferta@bestcars.pl</li>
        </ul>
        <ul>
            <li>Dział reklamacji</li>
            <li>e-mail:  reklamacje@bestcars.pl</li>
        </ul>
        <ul>
            <li>Dział marketingu</li>
            <li>e-mail: marketing@bestcars.pl</li>
        </ul>
        <ul>
            <li>Serwis mechaniczny</li>
            <li>telefon: 62 5015 590</li>
            <li>e-mail: serwis@bestcars.pl</li>
        </ul>
        <ul>
            <li>Szkody komunikacyjne</li>
            <li>telefon: 62 5051 590</li>
            <li>e-mail: szkody@bestcars.pl</li>
        </ul>
        <ul>
            <li>Dział windykacji</li>
            <li>telefon: +48 502 121 700</li>
            <li>e-mail: windykacja@bestcars.pl</li>
        </ul>
    </div>
    <div class="ourBranches">
        <h1>Nasze oddziały</h1>
        <ul>
            <li>Kraków</li>
            <li>Warszawa</li>
            <li>Poznań</li>
        </ul>
    </div>
</div>