@{
    ViewBag.Title = "Strona główna";
}

<div class="mainPageWrapper">
    <h1>Wypożyczalnia samochodów BestCARS</h1>
    <div class="mainInfo">
        <div class="topInfo">
            <ul>
                <li>Bezpłatne anulowanie rezerwacji</li>
                <li>Jesteśmy w 3 miastach Polski</li>
                <li>W ofercie ponad 50 nowych aut</li>
            </ul>
        </div>
        <div class="infoSlider"></div>
    </div>
</div>